
<!-------------script.js----------------->
<script>{literal}
	$(function(){
		user_ajax_login = new loadingContent({
			loadBlockWidth: '520px',
			linkerObjID: 'ajax_login_link_menu',
			loadBlockLeftType: 'right',
			loadBlockTopType: 'bottom',
			closeBtnClass: 'w'
		}).update_css_styles({'z-index': 2000}).update_css_styles({'z-index': 2000}, 'bg');
		$('#ajax_login_link').unbind('click').click(function(){
			$.ajax({
				url: site_url + 'users/ajax_login_form',
				cache: false,
				success: function(data){
					user_ajax_login.show_load_block(data);
				}
			});
			return false;
		});
	});

	<!-----add js here------>
	
	
</script>{/literal}


<!--------------style.css---------------->
<style type="text/css">
{literal}
.background{
	background-color:#ff751a;
    box-shadow: 0 4px 4px -2px #968a88;
    -moz-box-shadow: 0 4px 4px -2px #968a88;
    -webkit-box-shadow: 0 4px 4px -2px #968a88;
}

.logoHeader{
	display: inline-block;
	width: 13%;
	position: relative;
	padding-top: 1%;
	padding-bottom: 0.5%;
}

	<!-----add style here------>

.pHeader{
	font-size:100%;
}

.buttons{
	width:40%;
	float:right;
	padding-top:2%;
}

.companyRegButton{
	display:inline-block;
	float:left;
	width:68%;
}

.loginButton{
	display:inline-block;
	float:right;
	width:29.5%;
}

.ulHeader{
	display: inline-block;
	position: relative;
	float:right;
	width:86%;
}

.searchPart {
	display: inline-block; 
	width: 100%; 
	align:right;
	padding-top:2%;
}

.searchDropdown{
	display: inline-block;
	width: 40%;
	position: relative;
}

.searchBarAndButton{
	width:59%;
	float:right;
}

input[type="text"] {
	width: 78%;
	padding-top:1%;
	padding-bottom:1%;
	float:left;
}

input[type="submit"] {
	width:20%;
	padding-top:1.1%;
	padding-bottom:1.1%;
	float:right;
}

{/literal}
</style>
<!---------------------------------------->

<div class="background">
	<div class="content">
		<div class="logoHeader">
			<a href="{$site_url}" class="logo-block">
			<img src="{$site_root}{$logo_settings.path}" alt="{helper func_name='seo_tags_default' func_param='header_text'}" width="{$logo_settings.width}" height="{$logo_settings.height}">
			</a>
		</div>
		
		<ul class="ulHeader">
		<li>
		<div class="buttons">
		<!--<div>--> <!--style="line-height:30%;">-->
			<div class="companyRegButton">
				<a href="{$site_url}users/registration"><button type="button" style="width:100%;">Company Registration</button></a>
			</div>
		<!--</div>
		<div id="ajax_login_link_menu">-->
			<div class="loginButton">
				<a id="ajax_login_link_menu" id="ajax_login_link" href="{seolink module='users' method='login_form'}"><button type="button" style="width:100%;">Login</button></a>
			</div>
		<!--</div>-->
		</div>
		</li>
		
		<li>
		<div class="searchPart">
		
			<div class="searchDropdown"><!--border: 0.1em solid #1e90ff;-->
			{selectbox input='user_type' id='looking_user_type' value=$user_types.option default=$all_select_lang}
			</div>
			<div class="searchBarAndButton">
				<input type="text" name="search" placeholder="{l i='search_people' gid='start'}"/>
				<input type="submit" value="Search" id="main_search_button_{$form_settings.form_id}" name="search_button">
			</div>
		</div>
		</li>
		</ul>
	</div>
</div>

<div class="content">
	</br>
	<div  style="padding:3% 66% 0 0;">
		<h1 style="font-size:225%;">Welcome to Calit2 IoTOC</h1>
		<p class="pHeader">Find your local professional business partner in a snap with Calit2's IoT OC map. Join our growing local IoT OC community.</p>
		</br><p class="pHeader">Create a business profile, post your IoT skills and ideas to communicate with other IoT business professionals like yourself.</p> 
		</br><p class="pHeader">We hope that this non-profit academic research site is the place where you will find your IoT OC partner!</p>
		</br></br><h1>Want to join in?</h1>
		<p>Just create a simple company profile, post up keywords that best describe your business and soon you'll be networking with other IoT professionals. IoT business simplified! Get started today and find your IoT business match!</p>
	</div>
	</br>
	</br>
	</br>
</div>


